<h1><%=@category.name%></h1>

<div class="articles">
	
	 <%@articles.each do |article|%>
	 <h2> <%=article.subject %> </h2>
	 <p> <%=article.post %> </p>
	 <div>
	 	<img src="<%=article.img_url%>">
	 </div>
	 <h4> <%= article.user.user_name %> on <%= article.post_date %> </h4>
	 <% end %>
</div>

<div class="smallLink">
	<a href="/welcome">...Back</a>
</div>