<div class="userContainer1">
	<div class="userContainer">

		<div class="users">
			<h1> <%= @profile.user_name %>'s Profile</h1>
			<h2>Location: <%= @profile.location %></h2>

			<div class="avatar">
				<img src="<%= @profile.avatar_url %>">
			</div>

			<% @images.each do |img| %>
			<div class="userPix">
				<img src="<%=img.img_url%>">
			</div>
			<div>
				<h2>Articles By <%= @profile.user_name %> </h2>
				<h3> <%= img.subject %> </h3>
				<p> <%= img.post %> </p>
			</div>
			<% end %>

		</div>

	</div>
	
</div>